.profileMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.profileIdentityContainer {
  margin-top: 50px;
  position: relative;
  max-width: 1200px;
  width: 100%;
}

.profileBackdrop {
  background: linear-gradient(
    90.01deg,
    #6574ff 0.01%,
    rgb(138, 54, 169) 48.96%,
    rgba(255, 0, 0, 0.41) 99.99%
  );
  border-radius: 25px;

  aspect-ratio: 5/1;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profileBackdrop:hover {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  cursor: pointer;
}

.profileBackdrop:hover > .backDropImageAdd {
  display: block;
  position: absolute;
  z-index: 10;
  filter: brightness(0) invert(1);
}

.backDropImage:hover {
  cursor: pointer;
}

.backDropImageAdd {
  width: 5%;
  aspect-ratio: 1/1;
  display: none;
}

.backDropImage {
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  aspect-ratio: 5/1;
}

.profilePicture {
  top: 60%;
  left: 6%;

  position: absolute;

  max-width: 17.5%;
  aspect-ratio: 1/1;
  width: 100%;

  background: linear-gradient(
    90.01deg,
    #cc65ff 0.01%,
    rgb(179, 106, 205) 48.96%,
    rgba(0, 85, 255, 0.41) 99.99%
  );
  border-radius: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 96%;
  aspect-ratio: 1/1;
  width: 100%;

  object-fit: cover;
  border-radius: 25px;
}

.image:hover {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  cursor: pointer;
}

.profileImageAdd {
  height: 60px;
  width: 60px;
  display: none;
}

.image:hover > .profileImageAdd {
  display: block;
  position: absolute;
  z-index: 10;
}

.name {
  position: absolute;
  left: 24.5%;
  top: 105%;
}

.description {
  position: absolute;
  left: 24.5%;
  top: 118%;
}

@media only screen and (max-width: 1200px) {
  .name {
    font-size: 14px;
   
  }
  
  .description {
    font-size: 12px;
    top: 125%;
  }
}

.profileSettingsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  width: 100%;
  max-width: 900px;
}

.namebox-container {
  margin-bottom: 50px;
}

.cv-container {
  margin-bottom: 50px;
}

.description-container {
  margin-bottom: 50px;
}

.saveButton {
  display: flex;
  justify-content: flex-end;
  position: relative;

}

.save {
  width: 20%;
  background-color: #0a59f7;
  color: white;
  border: none;
  border-radius: 5px;
  min-height: 40px;
  min-width: 100px;
}

.save:hover {
  background-color: #094cd1;
}

.confirmSave {
  position: absolute;
  color: #15d703;
  right: 25%;
  top: 20%;
}

.exist-cv {
  margin-top: 5px;
  cursor: pointer;
  color:rgb(39, 107, 244);
}

.exist-cv:hover {
  color:rgb(10, 46, 119)
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
  max-width: 900px;
}

.setting {
  margin-bottom: 50px;
}

@media only screen and (max-width: 900px) {
  .namebox-container {
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .cv-container {
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .description-container {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .profileSettingsContainer {
    margin-top: 80px;
  }

  .name-textbox {
    font-size: 14px;
  }

  .cv-textbox {
    font-size: 14px;
  }

  .description-textbox {
    font-size: 14px;
  }

  .confirmSave {
    right: 30%;
  }

  
}

