.profileBackdrop {
  position: absolute;
  height: 15rem;
  background: linear-gradient(
    90.01deg,
    #6574ff 0.01%,
    rgba(179, 106, 205, 0.53) 48.96%,
    rgba(255, 0, 0, 0.41) 99.99%
  );
  border-radius: 25px;
  max-width: 75rem;
  margin-left: auto;
  margin-right: 5rem;
  min-width: 25rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileBackdrop:hover {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  cursor: pointer;
}

.profileBackdrop:hover > .backDropImageAdd {
  display: block;
  position: absolute;
  z-index: 10;
  filter: brightness(0) invert(1);
}

.backDropImage:hover {
  cursor: pointer;
}

.backDropImageAdd {
  width: 60px;
  height: 60px;
  display: none;
}

.backDropImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.profilePicture {
  position: absolute;
  height: 208px;
  width: 208px;
  background: linear-gradient(
    90.01deg,
    #cc65ff 0.01%,
    rgba(179, 106, 205, 0.53) 48.96%,
    rgba(0, 85, 255, 0.41) 99.99%
  );
  border-radius: 25px;

  top: 150px;
  left: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 25px;
  margin-left: 1px;
  margin-top: 1px;
  z-index: 1;
}

.image:hover {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  cursor: pointer;
}

.profileImageAdd {
  height: 60px;
  width: 60px;
  display: none;
}

.image:hover > .profileImageAdd {
  display: block;
  position: absolute;
  z-index: 10;
}

.name {
  position: absolute;
  left: 290px;
  top: 250px;
  font-size: 20px;
}

.description {
  position: absolute;
  left: 290px;
  top: 280px;
}

.name-textbox {
  position: absolute;
  left: 300px;
  max-width: 35rem;
  top: -5px;
}

.textbox-name {
  position: absolute;
}

.namebox-container {
  position: relative;
  top: 500px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5rem;
  max-width: 75rem;
}

.cv-textbox {
  position: absolute;
  left: 300px;
  max-width: 35rem;
  top: -5px;
}

.textbox-cv {
  position: absolute;
}

.cv-container {
  position: relative;
  top: 550px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5rem;
  max-width: 75rem;
}

.description-container {
  position: relative;
  top: 610px;
  max-width: 75rem;
}

.textbox-description {
  position: absolute;
}

.description-textbox {
  position: absolute;
  left: 300px;
  max-width: 35rem;
  top: -5px;
}

.save {
  position: absolute;
  top: 1000px;
  width: 100px;
  height: 40px;
  background-color: #ff3556;
  border: none;
  border-radius: 5px;
}

.save:hover {
  background-color: #ff9bab;
  border-radius: 5px;
}
