/* Container */
html {
  overflow-y: scroll;
}

body {
  font-family: "Poppins";
  padding-bottom: 50px;
}

.profile-container {
  margin-right: 5rem;
  margin-left: 5rem;
}

.page-container {
  display: flex;
}

/* Profile title */
.title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.profileTitle {
  border-bottom: 2px solid rgb(186, 186, 186);
}

/* General Profile Stuff */

.profile {
  display: flex;
}

.profileMenu {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  margin-top: 30px;
  align-self: stretch;
  flex: 2;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 100%;
}

.profileButton {
  height: 40px;
  text-align: left;
  font-size: 19px;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  font-weight: lighter;
}

.profileButton:hover {
  background-color: aliceblue;
  border-radius: 3px;
}

.profileMain {
  flex: 10;
  margin-left: 50px;
}

.flexLoad {
  flex: 2;
}

@media only screen and (max-width: 900px) {
  .profileTitle {
    display: none;
  }

  .profile {
    flex-direction: column;
  }

  .profileMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .profileButton {
    margin: 10px;
    width: 250px;
    text-align: center;
    min-width: 120px;
    font-size: 16px;
  }

  .profile-container {
    margin-right: 25px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 450px) {
  .profileButton {
    min-width: 80px;
    width: 10px;
    text-align: center;
    font-size: 14px;
  }
}
