/* Container */
body {
  font-family: "Poppins";
}

.profile-container {
  margin-right: 5rem;
  margin-left: 5rem;
  /* DEBUG */height: 20000px;
}

/* Profile title */
.title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.profileTitle {
  border-bottom: 2px solid rgb(186, 186, 186);
  margin-bottom: 1rem;

}

/* General Profile Stuff */

.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.profileMenu {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  margin-top: 1rem;
  height: 100%;
  align-self: stretch;
}

.profileButton {
  height: 2rem;
  width: 55%;
  text-align: left;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  margin-bottom: 0.5rem;
  font-weight: lighter;
}

.profileButton:hover {
  background-color: aliceblue;
  border-radius: 3px;
}

.profileMenu {
  width: 100%;
  max-width: 25rem;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.profileMain {
  margin-top: -7rem;
  margin-left: 15rem;
  min-width: 90rem;
  position: relative;
    order: 0;
  flex: 1 0 auto;
  align-self: center;
}

.main-textbox {
  left: 300px;
  max-width: 35rem;
  top: -5px;
  margin-bottom: 2rem;
}


.main-container {
  position: relative;
  max-width: 30rem;
}

.saveMain {
  width: 100px;
  height: 40px;
  background-color:#ff3556;
  border: none;
  border-radius: 5px;
}

.saveMain:hover {
  background-color:#ff9bab;
  border-radius: 5px;
}

.profileDropdownMenu {
  display: none;
}

@media screen and (max-width: 768px) {
  .profileDropdownMenu {
      display: flex;
      margin-bottom: 100px;
  }

  .sidebar {
      display: none;
  }

}