.form-container {
    display: flex;
}

.left-input-content {
    width: 50rem;
    margin-right: 5rem;
}

.right-input-content {
    width: 50rem;
    float: right;
}

.form-input {
    height: 3rem;
    margin-bottom: 2.5vh;
    background-color: rgb(245, 245, 245);
}

.form-titel-text {
    font-size: 1.5rem;
    font-style: bold;
}

.form-submit-button {
    margin-left: 2vh;
    float: right;
    background-color: rgb(153, 0 , 0);
    border-color: rgb(153, 0, 0);
}


.preview-button {
    background-color: rgb(153, 0 , 0);
    border-color: rgb(153, 0, 0);
}


.btn-primary:hover {
    background-color: rgb(183, 0 , 0) !important;
    border-color: rgb(183, 0, 0) !important;
}

